@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: #121829;
}

#logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 240px;
  top: 60px;
  z-index: 1;
}

.chatbox {
  animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}

#home {
  position: absolute;
  left: 700px;
  top: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  z-index: 1;
}
#home a:hover {
  color: #9d24fc;
}
#home a {
  color: white;
}

#header {
  position: absolute;
  left: 812px;
  top: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  z-index: 1;
}
#header a:hover {
  color: #9d24fc;
}
#header a {
  color: white;
}

#content {
  position: absolute;
  left: 978px;
  top: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
  color: white;
}

#content:hover {
  color: #9d24fc;
}

#login {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 1107px;
  top: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}
#login a {
  color: #c4c4c4;
}

#login a:hover {
  color: #9d24fc;
}

.Theater {
  position: absolute;
  left: 1500px;
  top: 60px;
  color: white;
  font-size: 25px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.Theater div {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: Theater 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes Theater {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* 이미지 슬라이드 영역 */
.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 130px;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color: #fff;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.imges {
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  animation: slide 4s ease-out;
}

.text1 {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.textone {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}

.imgesone {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.text2 {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.texttwo {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}

.imgestwo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.text3 {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.textthree {
  display: block;
  color: white;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
  height: 250px;
}

/* 비디오영역 */
.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #030b17;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: absolute;
}

.video-card:hover .video-card-image {
  display: none;
}
